$container-width: 1200px;
$logo-width: 150px;
$main-color: #fff;

$header-background: #ff6900;
$section-padding: 2rem 0;

$card-gap: 20px;
$card-name-size: 1.2rem;
$card-vendor-size: 0.9rem;
$current-price-color: red;

$footer-bg: #1a1a1a;
$footer-icon-distance: 5px;
$footer-p-icon: 10px;
